.dropzone_wrap .filename.lcu-output-filename {
    margin-top: 0px;
}
.dz-drag-hover {
    color: #111               !important;
    background-color: #f1f1f1 !important;
    border: 4px dotted #777   !important;
}
div.dz-error {
    background-color: #ff000087;
    border-radius: 5px;
}
.dz-preview {
    margin: 5px 0;
    padding: 10px;
    float: left;
    background-color: #F5F5F5;
    border-radius: 5px;
    clear: both;
}
.dz-details {
    padding: 0;
}
.dz-filename , .dz-my-separator, .dz-size, .dz-delete {
    float: left;
}
.dz-error-message {
	clear: both;
}
.dz-my-separator {
    width: 20px;
    text-align: center;
}
.dz-size {
    margin-top: 1px;
    margin-left: 5px;
}
.dz-size:before {
    content: "(";
}
.dz-size:after {
    content: ")";
}
.dz-progress {
    display: block;
}
.dz-upload {
    display: none;
    border: 5px solid #1E9BFF;
    border-radius: 2px;
}
.dz-remove {
    float: left;
    margin-left: 5px;
}
.fa-check-circle:before {
    color: #93C54B;
}
.dz-success-mark {
    height: 25px;
    margin-left: 5px;
}
.fadeout {
  animation : fadeOut 1s;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.download-link {
    color: #090;
}
.dz-batch-download {
    clear: both;
}
