@charset "UTF-8";

/*画面ごとにCSSをカスタマイズしたい場合
---------------------------------------------------------- */
.color-red {
	color: red;
}
.sc06001b0002-heading-contents {
	align-items: start !important;
}
.sc06001b0002-heading-btn-items {
	margin-top: 10px;
}
.border-style-none {
	border-style: none !important;
}
.text-align-left {
	text-align: left !important;
}
.vertical-align-top {
	vertical-align: top !important;
}
@media print {

	.c-header,.c-page-back,.c-footer,.c-page-top,.c-main-menu {
		display: none;
	}
	
	.c-wrapper {
		padding: 40px 0 10px !important;
	}
	
	.c-container{
		padding: 0;
	}
	
	.c-breadcrumbs
	{
		padding: 0;
	}
	.hideInPrint{
    display: none !important;
  }
  .displayInPrint {
    display: block !important;
  }
  .smallHeaderInPrint {
  	font-size: 20px !important;
  }
  .smallInPrint {
  	font-size: medium !important;
  }
  .paddingHeaderInPrint {
  	padding-top: 8px !important;
  	padding-bottom: 0px !important;
  }
  .paddingInPrint {
  	padding-top: 0px !important;
  	padding-bottom: 0px !important;
  }
  .marginInPrint {
  	margin-top: 0px !important;
  	margin-bottom: 0px !important;
  }
}
@media print, screen and (min-width: 561px) {

	.u-w230-pc {
		width: 230px;
	}

	.u-w300-pc {
		width: 300px;
	}
}
@media print, screen and (max-width: 560px) {

	.c-puretable-responsive .u-w100per-sp {
		width: calc(100% - 20px);
	}
}
